<div class="form_container">
  
  <form method="post" action="/login">
    Ingresa tu correo:<br><br>
    <input type="text" name="correo"><br><br>
    
    Ingresa tu contraseña:<br><br>  
    <input type="password" name="password"> <br><br>

    <button>Iniciar Sesion</button>
  </form>

<br><br>
  <% if @error %>
  <div class="error">Email o Pasword erroneos</div>
<% end %>

</div>


  <br>
  <a href="/user/new">No tengo Cuenta</a>


